#password
{
width:700px;
height:300px;
margin-left: 20%;
margin-top:70px;
padding:10px;
color: white;
text-align:center;
}
h1{

	margin-left: 150px;
}
#titrebloc
{
font-size:1.1em;
}
#old ,#new,#new1
{
width:170px;
height:23px;
margin-left:500px;
margin:6px;

}

#user
{
font-size:1em;
width:120px;
height:18px;
margin:8px;

}
#save ,#annuler
{
height:27px;
margin-top:6px;
margin:2px;
font-size:1.1em;
}
#now
{
margin-left:125px;

}
#saisir1
{
margin-left:108px;
}
#saisir2
{
margin-left:58px;
}
